.index-banner {
    background-image: url('../img/assets/backgrount-home.png');
    background-size: cover;
    height: 474px;
    width: 100%;
}

#error-banner {
    background-image: url('../img/assets/background.png');
}

#error-banner h5 {
    margin: 10% 0%;
}

#index-banner h5 {
    margin: 7% 0%;
}

.container-principal {
    background-color: #e8e8e8;
    padding: 80px 0px 80px 0px;
}

.google-play-badge {
    max-width: 80%;
    height: auto;
}

.userMenu li {
	position: relative;
}

.userPoints {	
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
}

.menu-img {
    max-height: 64px;
    display: block;
}

/*.footer-logo {
    max-height: 190px;
    width: auto;
} */

.text-justfy {
    text-align: justify;
    padding: 2%;
}

.text-center {
    text-align: center;
}

.index-banner-logo {
    width: 20%;
    height: auto;
}

.menu-container {
    padding: 50px;
}

.banner-content {
    height: 100%;  
}

.social-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;     
}

.page-footer ul li{
    margin: 3px;
}

.google-play-link {
    height: 100%;
    width: auto;
    max-height: 100px;
}

.card-image {
    height: 100%;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
}

@media (max-width:1023px) and (min-width:426px) {
    
    .logo-list li {
        margin-left: 35%;
        margin-top: 7px;
    }

    .menu-img {
        margin-top: 0px;        
    }
     nav .button-collapse i {
        padding-top: 10px;
    }
   
}

@media (max-width:425px) {
    
    .logo-list li {
        margin-left: 19%;
        margin-top: 5px;
    }
    
    #index-banner {
        background-position-x: -190px;
    }

    .menu-img {
        max-height: 60px;        
    }
   
    .modal-content {
        padding: 5px !important;
    }

    .modal-content .btn {
        padding: 1px 10px;
        margin: 0px 3px;
    }

    .modal-content input {
        padding-bottom: 0px;
    }

    .modal-content .row {
        padding-bottom: 0px;
        margin-bottom: 5px;
        float: none !important;
        text-align: center;
    }

    .modal-content .section {
        padding: 5px 5px;
    }

    #cadastro .card-action .btn {
        margin: 3px auto;
        padding: 2px 10px !important;
    }

    .index-banner-logo {
        width: 75%;
        height: auto;
    }

      nav .button-collapse i {
        padding-top: 10px;
    }
   
}

@media (min-width:426px) {
    .container-principal .card {
        height: 300px;
    }

    .row .col.m4 {
        width: 30%;
        padding: 2%;
        margin-left: 3%;
    }
   
}

/*
    Danilo Panta
*/
ul.logo-list a:hover {
    background: transparent;
}

.app-black-text {
    color: #000;
}

.app-red-text {
    color: #FF0000;
}

.app-red-text:hover {
    color: #FF0000;
    background: transparent;
}

.app-black-text:hover {
    color: #4bc8f3;
    background: transparent;
}

.menu-header {
    background: #f3f4f9;
    height: 80px;
}

ul.logo-list {
    padding-top: 8px;
}
 
.index-banner-logo-pontosLife {
    width: 100%;
    height: auto;
    float: left;
}

#divLogoPontoLife {
    float: left;
    width: 20%;
    /*border-style: solid; */
    position: relative;
    margin-top: 6%;
    margin-bottom: 2%;
}

#divTextoPontosLife{
    float: left;
    position: relative;
    /*border-style: solid;
    border-color: blue; */
    width: 77%;
    margin-left: 3%;
}

.textoPontosLife {
    text-align: initial;
    margin-left: 22%;
}

.rowTrocaPontos{ 
    width: 85%;
    position: static;
    display: flex;
}

.divPrincipal {    
    margin: 2%;
    padding:0;
    /* border-style: solid; */
    width: 55%;
    margin-left: 24%;
}


.linhaDiv{
    padding:0;
    clear:both;
}

.colunaDiv{    
    height: 200px;
    /* border: 1px solid #000000; */
    width: 50%;
    float:left;
}

.espacoColunaAcima {
    padding-top: 1.5%;
}

.espacoColunaAcimaMenor {
    padding-top: 0.5%;
}

/* É pro site normal, no mobile, usa diferente.
#index-banner-pontos {
    background-image: url('../img/assets/background.png');
    background-size: cover;
} */

.textoBranco {
    color: white;
}

.header.red-text {
    text-transform: uppercase; 
    padding-bottom: 6px; 
}

.header.red-text::after {
    border-bottom: 4px red solid; 
}

.app-txt-content {
    font-size: 20px;
    color: #495662;
}

.app-txt-content span {
    font-weight: bold;
}
 
.titulo-missao {
    padding: 25px 0;
}

