.row {
    margin-bottom: 8px;
}

.titulo-page-cartao {
    font-size: 28px; 
    color: #0b6705;
} 

.legenda-txt {
    font-size: 12px; 
    color: #666; 
    position: relative; 
    bottom: 30px;
}
 
.link-cep {
    cursor: pointer;
}

.btn-confirmar{
    background: #6aae41;
}

.btn-confirmar:hover {
    background: #38651d;
}

.dados-pessoal label {
    font-size: 1rem;
}

@media only screen and (min-width: 0) {
    .dados-pessoal {
        margin-bottom: 25px;
    }
}

#divInfDadosPagSeguro, #showFormPagSeguro {
    visibility: hidden;
}


.tab-response th, .tab-response td  {
    text-align: center;
}

.tabela-dados {
    padding-top: 25px
}

.tabela-dados h4 {
    padding-bottom: 25px;
}
