@media (max-width:425px) {
	.index-banner {
		height: 520px;
		background-position-x: -50px;
    	background-size: 277% 100%;
	}
	
	.default-image-size {
		max-width: 30%;
		height: auto;
	}
}

#divMenuContainer {
    padding-right: 0;
}

#divTextoHomePrimeiro {
    margin-left: 20%;
    margin-right: 0;
    padding: 0;
}

#pEducacao {
    margin-bottom: 20%;
}

#pEspacoImagem{
	width: auto;
    height: 125px;
}

#footerLogo {
	width: 40% !important;
}

#divImgLogo {
    height: 40px;
}
