#container-principal {
    width: 90%;
    margin: 0 auto;
}

@media (max-width:425px) {
	.index-banner {
		height: 330px;
        background-size: 100% 100%;
	}
	
    .banner-text {
        margin-left: 20%;
    }
    
	.default-image-size {
		max-width: 30%;
		height: auto;
	}    
}

@media (max-width:768px) {
    
    
    .hide-on-small {
        display: none !important;
    }
}

@media (max-width:768px) and (min-width:426px) {
    .index-banner {
        height: 332px;
        background-size: 100% 100%;
	}
    
    .menu-container {
        padding: 76px;
    }
}