
.img_pontos_detalhe {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#divContPontos {
    padding-bottom: 0;
    padding-top: 3%;
    padding-left: 30px;
    padding-right: 30px;
}

.divConteudoPontos {
    margin-bottom: 0;
}

#divConteudoPontos {
    padding: 0;
    margin: 0;
}

.container_principal_pontos {
    margin-bottom: 0;
    padding-bottom: 0%;
}

#container_principal_pontos {
    margin-top: 0;
    padding-top: 0%;
}

#container_principal_pontos_troca {
    margin-top: 8%;
}

#divTextoInicialPontos {
    margin-bottom: 5%;
}

#p_texto_troca {
    padding-left: 4%;
    padding-right: 4%;
}

.divPrincipal {    
    margin: 2%;
    padding:0;
    width: 75%;
    margin-left: 12%;
}

#container_principal_Detalhe {
    margin-bottom: 0;
    padding-bottom: 2%;
}

#container_principal_life {
    margin-bottom: 0;
    padding-bottom: 2%;
}

#divLife_2 {
    background: royalblue;
    /* border-style: solid; */
}

#pontosDetalheCasa {
    /* margin-top: 20%; */
    /*margin-bottom: 20%; */
}

#pontosBeneficiosLife{
    padding: 6%;
    margin-top: 50%;
    margin-bottom: 50%;
}

#divPremium_1_cartao {
    background: red;
}

#pontosCartaoAbaixo {
    /*margin-top: 50%;
    margin-bottom: 50%; */
}

#container_principal_premium {
    margin-bottom: 0;
    padding-bottom: 0;
}

#pTextoPremium {
    background: darkred;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 50%;
    color: navajowhite;
}

.page-footer {
    padding-top: 10% !important;
}


#divLife_1_filho {
    /*border-color: blue;
    border-style: solid; */
}

.div_1_1_filho {
   /* border-style: solid; */
    float: none !important;
}

.div_2 {
    /* border-style: solid; */
    height: 450px;
}

#divGratuito_2 {
	/*background: darkseagreen; */
    background: #31aa3a;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

#divLife_2 {
    background: royalblue;
    height: 50%;
}

.div_2_filho {
    /* border-style: solid;
    border-color: aliceblue; */
    margin-left: 24% !important;
    margin-right: 20%;
}

#divPremium_2 {
	background: darkred;
}

#divPremium_2_filho {
    margin-top: 15%;
}

#Linha1Coluna1 {
    /*border-style: solid;
    border-color: blanchedalmond; */
    width: 50%;
    margin-bottom: 1%;
}

#Linha1Coluna2 {    
	/*border-style: solid;
    border-color: blue; */
    width: 50%;
    /* float: right; */
    /* height: 100px; */
    /* margin-bottom: 10%; */
}

#Linha2Coluna1 {
    /*border-style: solid;
    border-color: red; */
    /* float: left; */
    width: 50%;
    float: right;
}

#Linha2Coluna2 {
    /*border-style: solid;
    border-color: green; */
    /* float: left; */
    width: 50%;
}

.img_pontos_trocar {
	max-width: 70%;
}

.img_pontos_trocar_2 {
	max-width: 40%;
}

.img_60 {
    max-width: 60%;
}

.img_100 {
    max-width: 100%;
}